{% extends "atomic/pages/list.html" %}

<!-- Page title for countries list page -->
{% block list_page_title %}
  Jogadores | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<div class="sm:px-6 lg:px-8 text-2xl text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/player.html' %}
  <h2 class="h2_title">
    Jogadores
  </h2>
</div>

<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 
      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
                <!-- Table headers -->
              <th scope="col" class="table_th sticky bg-zinc-900 left-0 z-10 pl-3 w-[120px] text-center">
                <a
                  href="{% url 'player_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
                >
                  Jogador
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <a
                  href="{% url 'player_list' %}?field=pos{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
                >
                  Posição
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th
                  scope="col"
                  class="table_th"
                >
                  <a href="{% url 'player_list' %}?field=birthdate{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                    Nascimento              
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
              </th>
              <th
                  scope="col"
                  class="table_th"
                >
                  <a href="{% url 'player_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                    País de origem 
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
              </th>
              <th
                  scope="col"
                  class="table_th"
                >
                  <a href="{% url 'player_list' %}?field=id_team__name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                    Time atual
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
              </th>
              <th
                  scope="col"
                  class="table_th"
                >
                  <a href="{% url 'player_list' %}?field=value_market{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                    Valor de mercado 
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </a>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-900 text-[#A1A1AA]">
            {% for player in page_obj %}
            <tr class="table_tr">
              <td class="table_td flex flex-col justify-left align-center sticky bg-zinc-900 left-0 z-10 pl-3">
                <img width="52" height="52" src="{{ player.img }}" class="object-cover rounded-full w-[52px] h-[52px] m-auto block" />
                  <a href="{% url "player_detail" pk=player.pk %}" class="gap-1 text-center hover:underline">
                    {{ player.name }}
                  </a>
              </td>

              <td class="table_td">
                <span>{{ player.pos }}</span>
              </td>

              <td class="table_td">
                  <span class="hover:underline">{{ player.birthdate | format_date_with_age }}</span>
              </td>
              <td class="table_td">
                <a href="{% url "country_detail" pk=player.id_country_id %}" class="hover:underline flex items-center gap-1">
                  <img src="{{ player.country_flag }}"  title="{{ player.country_name }}" class="inline-block"/>
                  {{ player.country_name }}
                </a>
              </td>
              <td class="table_td">
                <a href="{% url "team_detail" pk=player.id_team_id %}" class="hover:underline flex items-center gap-1">
                  <img src="{{ player.id_team.img }}" width="20" title="{{ player.id_team.name }}" class="inline-block"/>
                  {{ player.id_team.name }}
                </a>
              </td>
              <td class="text-xs md:text-sm lg:text-base font-light px-2 py-4 whitespace-nowrap text-right">
                <span>{{ player.value_market|passToFloat }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
