{% extends "atomic/pages/detail.html" %}
{% load custom_filters %}


{% block detail_page_title %}
  {{player.name}} | Teams List
{% endblock detail_page_title %}


{% block detail_content %}


<!-- Main content section -->
<div class="flex justify-center">
  <div class="card">
  <img width="80" src="{{ player.img }}" class="m-auto block player_main_img" />
  <h2 class="text-center dark:text-white text-base font-medium">{{ player.name | upper }}</h2>
  </div>
</div>

<div class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 gap-2 my-6 mx-auto min-w-full sm:px-6 lg:px-8">
  <div class="detail_card">
    <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
      NACIONALIDADE:
    </span>
    <a href={% url "country_detail" pk=related_country.pk %} class="flex items-center gap-1 text-xs md:text-sm font-medium dark:text-white">
      <img width="26" height="16" src="/media/images/countries/{{ related_country.slug }}{{ related_country.id }}.webp" class="inline-block h-[16px]" />
      {{ related_country.name | upper }} 
    </a>  
  </div>

  <div class="detail_card">
    <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
      TIME ATUAL:
    </span>
    <a href={% url "team_detail" pk=related_team.pk %} class="flex items-center gap-1 text-xs md:text-sm font-medium dark:text-white">
      <img width="16" src="/media/images/teams/{{ related_team.slug }}{{ related_team.id }}.webp" class="inline-block" />
      {{ related_team.name | upper }} 
    </a> 
  </div>
  
  <div class="detail_card">
    <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
      NASCIMENTO:
    </span>
    <span class="text-xs md:text-sm font-medium dark:text-white">
      {{ player.birthdate | format_date_with_age }}
    </span> 
  </div>

  <div class="detail_card">
    <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
      VALOR DE MERCADO:
    </span>
    <span class="text-xs md:text-sm dark:text-green-700 font-bold">
      {{ player.value_market|passToFloat }}
    </span> 
  </div>
</div>

<!-- Table container -->
<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="team_tables table_wrapper rounded-md">
      <!-- Table for displaying trophies data -->
      <div class="overflow-auto px-3">
        <p class="text-white">
          EM BREVE MAIS INFORMAÇÕES
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock detail_content %}
