admin_tools>=0.1
asgiref
beautifulsoup4
branca
certifi
chardet
charset-normalizer
datetime-truncate
Django
django-admin-charts
django-bower
django-browser-reload
django-colorfield
django-debug-toolbar
django-geojson
django-jazzmin
django-leaflet
django-memoize
django-multiselectfield
django-nvd3
django-tailwind
djangorestframework
folium
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
Jinja2
MarkupSafe
numpy
pillow
python-dateutil.post0
python-nvd3
python-slugify
pytz
rfc3986
six
sniffio
soupsieve
tailwind
text-unidecode
urllib3
xyzservices
