{% extends "atomic/pages/list.html" %}

<!-- Page title for countries list page -->
{% block list_page_title %}
  Países | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<div class="block sm:px-6 lg:px-8 text-2xl dark:text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/flag.html' %}
  <h2 class="background-color rounded-md">
    PAÍSES
  </h2>
</div>

<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 
      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
              <!-- Table headers -->
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-0 z-10 pl-3 w-[50px]"></th>
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-[50px] z-10">
                <!-- Column header for country -->
                <a href="{% url 'country_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  País <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for number of leagues -->
                <a href="{% url 'country_list' %}?field=num_leagues{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}ues' %}">
                  Número de ligas <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for number of teams -->
                <a href="{% url 'country_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Número de times <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for number of players -->
                <a href="{% url 'country_list' %}?field=num_players{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}ers' %}">
                  Número de jogadores <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-900 dark:text-[#A1A1AA]">
            <!-- Loop through countries -->
            {% for country in page_obj %}
            <!-- Apply row class -->
            <tr class="table_tr">
              <!-- Country data -->
              <td class="table_td">
                <!-- Country flag -->
                <img src="/media/images/countries/{{ country.slug }}{{ country.id }}.webp" class="inline-block w-[30px] min-w-[30px]"/>

              </td>
              <td class="table_td sticky dark:bg-zinc-900 left-[50px] z-10">
                <!-- Country name -->
                <a href="{% url 'countries_detail' pk=country.pk %}">
                  <span class="hover:underline">{{ country.name }}</span>
                </a>
              </td>
              <td class="table_td text-left">
                <!-- Number of leagues -->
                <a href="#" class="flex items-center justify-start gap-1" id="{{ country.slug }}-num-leagues">
                  <span>{{ country.num_leagues }}</span>
                </a>
              </td>
              <td class="table_td text-left">
                <!-- Number of teams -->
                <a href="#" class="flex items-center justify-start gap-1" id="{{ country.slug }}-num-teams">
                  <span>{{ country.num_teams }}</span>
                </a>
              </td>
              <td class="table_td">
                <!-- Number of players -->
                <a href="#" class="flex items-center justify-end gap-1 text-right" id="{{ country.slug }}-num-players">
                  <span>{{ country.num_players }}</span>
                </a>
              </td>            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
