{% load custom_filters %} 

{% if paginator.num_pages > 1 %}
  <div class="pagination mt-4 sm:px-6 lg:px-8">
    <span class="text-sm  flex gap-1 pb-5 items-center step-links">
      {% if related_items.has_previous %}
        <a href="{{ url|set_pagination_params }}page=1" class="pagination_a">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </a>
        <a href="{{ url|set_pagination_params }}page={{ related_items.previous_page_number }}" class="pagination_a"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
      {% endif %}

      <input class="pagination_input" max="{{ paginator.num_pages }}" id="paginationInput" url="{{ url|set_pagination_params }}" min="1" type="number"  value="{{ related_items.number }}"/>
      /
      <span class="font-bold">{{ paginator.num_pages }}</span>

      {% if related_items.has_next %}
        <a href="{{ url|set_pagination_params }}page={{ related_items.next_page_number }}" class="pagination_a"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        <a href="{{ url|set_pagination_params }}page={{ paginator.num_pages }}" class="pagination_a">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </span>
  </div>
{% endif %}



<script>
  var paginationInput = document.getElementById('paginationInput');
  if (paginationInput) {
      paginationInput.addEventListener("keyup", (e)=>{
        value = e.target.value;
        url = e.target.getAttribute('url')
        redirectUrl =  url + "page=" + value; 
        if(value > 99){
          e.target.classList.add("w-[25px]")
        }else{
          e.target.classList.add("w-[15px]")
        }

        if (e.key === 'Enter') {
          window.location.href = redirectUrl; // Redirect the user to the new URL
        }
      })

  }
  </script>