{% load custom_filters %}

<div class="mt-4 sm:px-6 lg:px-8">
    <span class="text-sm text-gray-700 dark:text-white flex gap-1 pb-5 items-center">
      {% if page_obj.has_previous %}
      <a href="?page=1{% url_params request %}" class="pagination_a">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </a>
      <a href="?page={{ page_obj.previous_page_number }}{% url_params request %}" class="pagination_a ">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </a> 
      {% endif %}

      {%with url=request.build_absolute_uri %}
      <input class="pagination_input" max="{{ page_obj.paginator.num_pages }}" url="{{ url|set_pagination_params }}" id="paginationInput" min="1" type="number"  value="{{ page_obj.number }}"/>
      {% endwith %}
      /
      <span class="font-bold">{{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% url_params request %}"  class="pagination_a">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
      <a href="?page={{ page_obj.paginator.num_pages }}{% url_params request %}"  class="pagination_a
      ">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
      {% endif %}
    </span>
  </div>

  <script>
    var paginationInput = document.getElementById('paginationInput');
    if (paginationInput) {
  
        paginationInput.addEventListener("keyup", (e)=>{
          value = e.target.value;
          url = e.target.getAttribute('url')
          redirectUrl =  url + "page=" + value; 
          if(value > 99){
            e.target.classList.add("w-[25px]")
          }else{
            e.target.classList.add("w-[15px]")
          }
  
          if (e.key === 'Enter') {
            window.location.href = redirectUrl; // Redirect the user to the new URL
          }
        })
  
    }
    </script>