<nav
class="background-color flex justify-between items-center  dark:bg-[#141414] fixed w-screen left-0 z-30 h-[50px] pr-4 transition ease-in-out delay-150 shadow-[7px_6px_10px_0px_#00000024]"
>
<div class="toggle-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<h1
  class="m-auto absolute left-[50%] -translate-x-[50%] text-2xl font-bold"
>
  <a href="/" class="mb-0 text-white flex items-center gap-1 whitespace-nowrap">
    {% include 'icons/ball.html' %}
    TEAMS LIST
  </a>
</h1>

{% include 'atomic/organisms/datalist_desktop.html' %}
{% include 'atomic/organisms/datalist_mobile.html' %}
</nav>