{% load custom_filters %}

{% if paginator_players.num_pages > 1 %}
  <div tab="players"
    class="pagination pagination_players mt-4 sm:px-6 lg:px-8 {% if request.GET.tab == 'players' or not request.GET.tab %} {% else %} hidden {% endif %}">
    <span class="text-gray-700 dark:text-white flex gap-1 pb-5 items-center step-links">
      {% if related_items.has_previous %}
        <a href="{{ url|set_pagination_params }}page=1" class="pagination_a">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </a>
        <a href="{{ url|set_pagination_params }}page={{ related_items.previous_page_number }}" class="pagination_a"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
      {% endif %}

      <input class="pagination_input" max="{{ paginator_players.num_pages }}" id="paginationInputPlayers" min="1" type="number" value="{{ related_items.number }}" />/
      <span class="font-bold text-sm">{{ paginator_players.num_pages }}</span>

      {% if related_items.has_next %}
        <a href="{{ url|set_pagination_params }}page={{ related_items.next_page_number }}" class="pagination_a"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        <a href="{{ url|set_pagination_params }}page={{ paginator_players.num_pages }}" class="pagination_a">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </span>
  </div>
{% endif %}
