{% extends "atomic/pages/list.html" %}

<!-- Page title for teams list page -->
{% block list_page_title %}
  Equipes | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<!-- Main content section -->

<div class="sm:px-6 lg:px-8 text-2xl dark:text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/ball.html' %}
  <h2 class="background-color rounded-md"> 
    EQUIPES
  </h2>
</div>

<!-- Table container -->
<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 
      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
              <!-- Table headers -->
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-0 z-10 pl-3"></th>
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-[60px] z-10">
                <!-- Column header for team name -->
                <a href="{% url 'team_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Equipe <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for average market value -->
                <a href="{% url 'team_list' %}?field=average_market_value{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Valor médio de mercado <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for total market value -->
                <a href="{% url 'team_list' %}?field=total_market_value{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Valor de mercado total <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for number of leagues -->
                <a href="{% url 'team_list' %}?field=num_leagues{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Competições que joga <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Teams list -->
            {% for team in page_obj %}
            <tr class="table_tr">
              <!-- Team data -->
              <td class="table_td text-xs md:text-sm lg:text-md flex flex-col justify-left align-center sticky dark:bg-zinc-900 left-0 z-10 pl-3">
                <img width="40" src="{{ team.small_img }}" class="min-w-[40px]" />
              </td>
              <td class="table_td sticky dark:bg-zinc-900 left-[60px] z-10">
                <!-- Team name -->
                <a href="{% url 'team_detail' pk=team.pk %}" class="flex items-center justify-start gap-1 hover:underline">{{ team.name }}</a>
              </td>
              <td class="table_td text-left">
                <!-- Average market value -->
                <span>{{ team.average_market_value|passToFloat }}</span>
              </td>
              <td class="table_td text-left">
                <!-- Total market value -->
                <span>{{ team.total_market_value|passToFloat }}</span>
              </td>
              <td class="table_td">
                <!-- Number of leagues -->
                <span>{{ team.num_leagues }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
