{% extends "atomic/pages/detail.html" %}
{% load custom_filters %}


{% block detail_page_title %}
  {{team.name}} | Teams List
{% endblock detail_page_title %}


{% block detail_content %}

{% include 'color_palette.html' with background_color=team.background_color text_color=team.text_color %}

<!-- Main content section -->
<div class="w-[280px] m-auto">
  <div class="flex items-center justify-center gap-1">
    <img src="{{ team.country_img }}" />
    <small class="text-center block"> {{ team.country_name }} </small>
  </div>
  <h2 class="text-center">{{ team.name }}</h2>
  <img src="{{ image_url }}" class="m-auto block team_main_img" />
</div>

<!-- Table container -->
<div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
  <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="overflow-hidden">
      <table class="min-w-full">
        <thead class="bg-white border-b">
          <tr>
            <th
              scope="col"
              class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
            >
              <a
              href="{% url 'team_detail' pk=team.pk %}?field=pos{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
            >
            Numº
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            </th>

            <th
              scope="col"
              class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
            >
              <a
                href="{% url 'team_detail' pk=team.pk %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
              >
                Jogador
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
            scope="col"
            class="text-sm font-medium text-gray-900 px-6 py-4 text-left"s
          >
            <a
              href="{% url 'team_detail' pk=team.pk %}?field=pos{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
            >
              Posição
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </th>
            <th
              scope="col"
              class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=birth{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Nascimento              
                 <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
              scope="col"
              class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=country_name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                País de origem 
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
              scope="col"
              class="text-sm font-medium text-gray-900 px-6 py-4 text-right"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=value_market{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Valor de mercado 
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          <tr class="{% cycle 'bg-gray-100 border-b' 'bg-white border-b' %}">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <span>{{ player.num }}</span>
            </td>
 
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 flex flex-col justify-left align-center">
              <img width="52" height="52" src="{{ player.img }}" class="object-cover rounded-full w-[52px] h-[52px] m-auto block" />
                <a href="#" class="gap-1 text-center hover:underline">
                  {{ player.name }}
                </a>
            </td>

            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <span>{{ player.pos }}</span>
            </td>

            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <span class="hover:underline">{{ player.birth }}</span>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <img src="{{ player.country_flag }}"  title="{{ player.country_name }}" class="inline-block"/>
              <span>{{ player.country_name }}</span>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-right">
              <span>{{ player.value_market }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      
      </table>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/detail_pagination.html' %}
{% endblock detail_content %}
