{% extends "atomic/pages/detail.html" %}
{% load custom_filters %}


{% block detail_page_title %}
  {{team.name}} | Teams List
{% endblock detail_page_title %}


{% block detail_content %}

{% include 'atomic/organisms/color_palette.html' with background_color=team.background_color text_color=team.text_color %}

<!-- Main content section -->
<div class="flex justify-center">
  <div class="inline-block p-3 bg-white rounded-md   
  dark:bg-zinc-900 forced-colors:outline rounded-lg   
  dark:before:rounded-xl 
  dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
  dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset]
  dark:before:pointer-events-none
  dark:before:absolute
  
  ">
  <img width="80" src="{{ image_url }}" class="m-auto block team_main_img" />
  <h2 class="text-center dark:text-white text-md font-medium">{{ team.name | upper }}</h2>
  </div>
</div>

<div class="flex justify-center gap-2 my-5">
  <div class="highlight_card">
    <div class="highlight_card h-full w-full max-w-sm justify-center bg-white flex rounded-sm gap-2 items-center shadow px-2 py-1
    dark:bg-zinc-900 forced-colors:outline rounded-lg   
    dark:before:rounded-xl 
    dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
    dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset]
    dark:before:pointer-events-none
    dark:before:absolute
    
    ">
      <span class="text-sm dark:text-[#A1A1AA]">
        PAÍS:
      </span>
      <img width="26" height="16" src="/media/images/countries/{{ related_country.slug }}{{ related_country.id }}.png" class="inline-block h-[16px]" />
      <a href={% url "country_detail" pk=related_country.pk %} class="inline-block text-sm font-medium dark:text-white">
        {{ related_country.name | upper }} 
      </a>  
    </div>
  </div>

  <div class="highlight_card">
    <div class="highlight_card h-full w-full max-w-sm justify-center bg-white flex rounded-sm gap-2 items-center shadow px-2 py-1
    shadow px-2 py-1
    dark:bg-zinc-900 forced-colors:outline rounded-lg   
    dark:before:rounded-xl 
    dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
    dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset]
    dark:before:pointer-events-none
    dark:before:absolute
    
    ">
    <span class="text-sm dark:text-[#A1A1AA]">
      VALOR DO ELENCO:
      </span>
      <span class="text-green-700 font-bold text-sm">  {{ team_players_value | passToFloat}}  </span>

    </div>
  </div>

  <div class="highlight_card">
    <div class="highlight_card h-full w-full max-w-sm justify-center bg-white flex rounded-sm gap-2 items-center shadow px-2 py-1
    dark:bg-zinc-900 forced-colors:outline rounded-lg   
    dark:before:rounded-xl 
    dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
    dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset]
    dark:before:pointer-events-none
    dark:before:absolute
    ">
      <span class="text-sm dark:text-[#A1A1AA]">
        VALOR DE MERCADO: 
      </span>
      <span class="text-green-700 font-bold text-sm"> {{ team.total_market_value | passToFloat }} </span>
    </div>
  </div>
</div>

<!-- Table container -->
<div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
  <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="rounded-xl bg-white forced-colors:outline px-3 overflow-hidden
    dark:before:rounded-xl 
    dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
    dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset]
    dark:before:pointer-events-none
    dark:before:-inset-px
    dark:before:absolute
    dark:bg-zinc-900
    "> 
      <table class="min-w-full rounded-md">
        <thead class="border-bottom-white border-solid border-b-[#a1a1aa30] border-b-solid border-b-[1px] text-gray-900 dark:text-[#A1A1AA]">
          <tr>
            <th
              scope="col"
              class="text-sm px-2 py-4 text-left"
            >
              <a
              href="{% url 'team_detail' pk=team.pk %}?field=pos{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
            >
            Numº
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            </th>

            <th
              scope="col"
              class="text-sm px-2 py-4 text-center"
            >
              <a
                href="{% url 'team_detail' pk=team.pk %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
              >
                Jogador
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
            scope="col"
            class="text-sm px-2 py-4 text-left"s
          >
            <a
              href="{% url 'team_detail' pk=team.pk %}?field=pos{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
            >
              Posição
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </th>
            <th
              scope="col"
              class="text-sm px-2 py-4 text-left"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=birth{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Nascimento              
                 <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
              scope="col"
              class="text-sm px-2 py-4 text-left"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=country_name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                País de origem 
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
            <th
              scope="col"
              class="text-sm px-2 py-4 text-right"
            >
              <a href="{% url 'team_detail' pk=team.pk %}?field=value_market{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Valor de mercado 
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-900 dark:text-[#A1A1AA]">
          {% for player in players %}
          <tr class="border-b-[#a1a1aa30] border-b-solid border-b-[1px]">
            <td class="px-2 py-4 whitespace-nowrap text-sm">
              <span>{{ player.num }}</span>
            </td>
 
            <td class="px-2 py-4 whitespace-nowrap text-sm flex flex-col justify-left align-center">
              <img width="52" height="52" src="{{ player.img }}" class="object-cover rounded-full w-[52px] h-[52px] m-auto block" />
                <a href="#" class="gap-1 text-center hover:underline">
                  {{ player.name }}
                </a>
            </td>

            <td class="px-2 py-4 whitespace-nowrap text-sm">
              <span>{{ player.pos }}</span>
            </td>

            <td class="text-sm font-light px-2 py-4 whitespace-nowrap">
                <span class="hover:underline">{{ player.birth }}</span>
            </td>
            <td class="text-sm font-light px-2 py-4 whitespace-nowrap">
              <img src="{{ player.country_flag }}"  title="{{ player.country_name }}" class="inline-block"/>
              <a href="{% url "country_detail" pk=player.id_country_id %}" class="hover:underline">
                {{ player.country_name }}
              </a>
            </td>
            <td class="text-sm font-light px-2 py-4 whitespace-nowrap text-right">
              <span>{{ player.value_market|passToFloat }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      
      </table>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/pagination.html' with url=request.build_absolute_uri related_items=players %}{% endblock detail_content %}
