@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .detail_card {
    @apply 
        bg-zinc-900
        backdrop-filter
        backdrop-blur-md
        px-2 
        forced-colors:outline 
        py-1
        flex
        rounded-sm
        gap-2 
        items-center
        justify-between
        before:rounded-sm
        shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
        before:pointer-events-none
        before:absolute
  }

  .card {
    @apply 
        p-3 
        bg-zinc-900
        forced-colors:outline
        rounded-lg   
        before:rounded-xl 
        shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
        before:pointer-events-none
        before:absolute
  }

  .table_wrapper {
    @apply 
        overflow-hidden   
        relative 
        z-10 
        rounded-md 
        px-3
        rounded-tl-[0px]  
        bg-zinc-900       
        before:rounded-xl 
        shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
        before:pointer-events-none
        before:absolute
        before:rounded-tl-xl 
  }

  .table_thead {
    @apply 
        border-b-[#a1a1aa30]
        border-b-[1px]
  }

  .table_th {
    @apply 
      text-[#A1A1AA]
          text-xs
          md:text-sm
          text-left
          px-2
          py-4
          last-of-type:text-right
  }

  .table_td {
    @apply 
      text-xs
      md:text-sm
      font-light
      px-2
      py-4
      whitespace-nowrap
      text-[#A1A1AA]
      last-of-type:text-right
  }

  .mini_table_th {
    @apply 
      text-[#A1A1AA]
        text-xs
        md:text-sm
        text-left
        px-2
        py-4
  }

  .mini_table_td {
    @apply 
        text-xs
        font-light
        px-2
        py-4
        whitespace-nowrap
        text-[#A1A1AA]
  }

  .pagination_a{
    @apply
    h-6 w-6
    flex
    items-center
    justify-center
    rounded-sm
    dark:before:rounded-xl
    dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)]
    dark:before:pointer-events-none
    dark:before:-inset-px
    dark:before:absolute
    dark:bg-zinc-900
  }

  .pagination_input{
    @apply
    font-bold
    text-center
    w-[15px]
    text-sm
    bg-transparent
    border-0
    outline-0
    p-0
  }
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

.hsla-shadow {
  --shadow-color: hsla(210, 8%, 62%, 0.2);
  box-shadow: var(--shadow-color) 0px 8px 24px;
}


h1, h2{
  font-family: "Inter", sans-serif;
}




h3, h4, h5, h6, li, span, th, td, tr, a{
  font-family: "Montserrat", sans-serif;
}

.update_color_form *:not(button){
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="search"] {
    border: unset;
    border-bottom: 1px solid white;
}

input::placeholder {
  user-select: none;
  color: white;
}



.transition-primary {
  transition: all 0.3s ease 0s;
}

.toggle-menu {
  width: 70px;
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;
  z-index: 3;
  flex-direction: column;
  justify-content: space-evenly;
}

.toggle-menu .line {
  max-width: 36px;
  width: 100%;
  background: #fff;
  height: 4px;
  border-radius: 3px;
}

html, body {
  overflow-x: hidden;
  min-width: 100vw;
}

body.menu-active aside {
  width: 250px;
  left: 0;
}

body aside {
  width: 70px;
}

body main {
  min-width: calc(-70px + 100vw);
}

@media (max-width: 993px) {
  aside {
      left:-300px;
      z-index: 1000
  }

  aside.menu-active {
      left: 0
  }

  input::placeholder {
    user-select: none;
    color: #111;
  }
  
}

@media (max-width: 500px) {
  aside {
      left:-300px;
      z-index: 1000
  }

  aside.menu-active {
      left: 0;
      width: 100vw
  }
}

main {
  position: absolute;
  width: 100%;
  padding: 10px 30px 40px;
  box-sizing: border-box;
  left: 70px;
  top: 60px;
  min-height: 100vh;
  transition: .3s;
  height: auto;
  overflow-x: auto;
  background-color: #08080a
}

@media (min-width: 993px) {
  main{
    width: calc(100% - 70px)
  }
}


main.menu-active {
  min-width: calc(100vw - 300px);
  left: 300px
}

main h1 {
  font-size: 26px;
  margin-top: 20px
}

@media (max-width: 991px) {
  main {
      left:0;
      padding: 15px;
      min-width: 100vw
  }

  main.menu-active {
      min-width: calc(100vw - 300px)
  }
}



.datalist_ul.active{
  padding-top: 5px;
}

.datalist_ul small{
  margin-left: 15px
}


.leagues_datalist_ul.active li:first-of-type::before{
  content: "Ligas";
}

.teams_datalist_ul.active li:first-of-type::before{
  content: "Times";
}

.players_datalist_ul.active li:first-of-type::before{
  content: "Jogadores";
}

.countries_datalist_ul.active li:first-of-type::before{
  content: "Países";
}

.trophies_datalist_ul.active li:first-of-type::before{
  content: "Taças";
}

.datalist_ul.active li:first-of-type::before{
  position: relative;
  top: 0px;
  font-size: 13px;
  left: 15px;
  color: black;
}

.datalist_ul a {
  color: black;
}

