{% extends "atomic/pages/detail.html" %}
{% load custom_filters %}


{% block detail_page_title %}
  {{trophy.name}} | Teams List
{% endblock detail_page_title %}


{% block detail_content %}


<!-- Main content section -->


<div class="flex justify-center">
  <div class="card ">
  <img width="80" src="{{ trophy.img }}" class="m-auto block league_main_img" />
  <h2 class="text-center dark:text-white text-md font-medium">{{ trophy.name | upper }}</h2>
  </div>
</div>


<div class="grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 lg:grid-cols-2 lg:grid-rows-1 gap-2 my-6 mx-auto min-w-full sm:px-6 lg:px-8">
    <div class="detail_card">
      <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
        Edições:
      </span>
      <span class="text-xs md:text-sm font-medium dark:text-white">
        {{ editions_count }}
      </span>
    </div>
    <div class="detail_card">
      <span class="text-xs md:text-sm dark:text-[#A1A1AA]">
        Maior campeão:
      </span>
      <a href={% url "team_detail" pk=greatest_champion.pk %} class="flex items-center gap-1 text-xs md:text-sm font-medium dark:text-white">
        <img width="16" src="/media/images/teams/{{ greatest_champion.slug }}{{ greatest_champion.id }}.webp" class="inline-block" />
        {{ greatest_champion.name | upper }} 
      </a> 
    </div>
</div>


<!-- Table container -->
<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="team_tables table_wrapper rounded-md">
      <!-- Table for displaying players data -->
      <div class="overflow-auto px-3"> 
        <table class="min-w-full rounded-md">
          <thead class="table_thead">
            <tr>
              <th
                scope="col"
                class="table_th"
              >
                
              </th>
              <th scope="col"  class="table_th">
                <a href="{% url 'team_trophy_detail' pk=trophy.pk  %}?field=id_team__name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Equipe
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col"  class="table_th">
                <a href="{% url 'team_trophy_detail' pk=trophy.pk  %}?field=season{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                Temporada
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for team in related_teams %}
            <tr class="border-b-[#a1a1aa30]  border-b-[1px]">
              <td class="table_td">
                  <img height="52" src="{{ team.id_team.small_img }}" class="object-cover w-[38px] md:w-[52px] block" />
              </td>
              <td class="table_td">
                <a href="{% url "team_detail" pk=team.id_team_id %}">
                  <span class="hover:underline">{{ team.id_team.name }}</span>
                </a>
              </td>
              <td class="table_td">
                <span class="hover:underline">{{ team.season }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>

{% include 'atomic/organisms/pagination.html' with url=request.build_absolute_uri related_items=related_teams %}
  
</div>


<!-- Include pagination -->
{% endblock detail_content %}
