{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

  {% include 'atomic/organisms/head.html' %}
  {% include 'atomic/organisms/admin_header.html' %}

  <body class="{% if user.is_authenticated and user.is_staff %} pt-[35px] {% endif %}">

    {% include 'atomic/organisms/nav.html' %}
    {% include 'atomic/organisms/aside.html' %}

    <main class="grid-el absolute pt-[55px] pl-[10px] left-[70px] min-h-[100vh] bg-[#fafafb] overflow-auto">
      {% block content %} {% endblock content %}
    </main>

    {% include 'atomic/cells/scripts.html' %}
  </body>
</html>
