{% if user.is_authenticated and user.is_staff %}
<div
  class="hidden colors_palette flex flex-col w-[110px] bg-white p-4 box-content fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 shadow-[0_8px_30px_rgb(0,0,0,0.12)] z-50 rounded-md"
>
  <span
    class="text-sm absolute right-[2px] top-[2px] cursor-pointer close_open_palette"
  >
    {% include 'icons/close.html' %}
  </span>

  <div class="flex items-center justify-between">
    <div class='colors'>
      <label class="flex items-center justify-between cursor-pointer">
        <span class="text-[13px]">FUNDO: </span>
        <input
          type="color"
          name=""
          id="new_background_color"
          class="background_color {% if background_color %} has_color {% endif %}"
          value="{% if background_color %}{{ background_color }}{% endif %}"
        />
      </label>
      <label class="flex items-center justify-between cursor-pointer">
        <span class="text-[13px]">TEXTO: </span>
        <input
          type="color"
          name="new_text_color"
          id="new_text_color"
          class="text_color {% if text_color %} has_color {% endif %}"
          value="{% if text_color %}{{ text_color }}{% endif %}"
        />
      </label>
    </div>
    <div class='reverse_colors transform rotate-90 text-[#111827] cursor-pointer'>
      {% include 'icons/reverse.html' %}
    </div>
  </div>


  <input
    type="button"
    value="Redefinir"
    class="p-[4px] mt-[7px] px-[7px] bg-red-700 text-white text-[13px] rounded-[4px] hover:opacity-80 cursor-pointer reset_colors"
  />
  <input
    type="button"
    value="Gerar por I.A"
    class="p-[4px] mt-[7px] px-[7px] bg-blue-700 text-white text-[13px] rounded-[4px] hover:opacity-80 cursor-pointer get_by_ia_colors"
  />
</div>
{% else %}

<input
type="hidden"
name=""
id="new_background_color"
class="background_color {% if background_color %} has_color {% endif %}"
value="{% if background_color %}{{ background_color }}{% endif %}"
/>

<input
type="hidden"
name="new_text_color"
id="new_text_color"
class="text_color {% if text_color %} has_color {% endif %}"
value="{% if text_color %}{{ text_color }}{% endif %}"
/>
{% endif %}

