<div
class="absolute translate-y-[100%] w-[280px] left-0 bottom-0 h-[371px] hidden overflow-auto bg-white rounded-md border-solid border-[1px] border-[#06AA48] datalist_skeleton skeleton-loading"
>
  <ul class="max-h-[400px] overflow-auto absolute top-0 z-30 w-full bg-white rounded-md border-solid border-[1px] border-[#06AA48]">
    <div class="h-2 w-[46px] bg-gray-200 rounded-full dark:bg-gray-400 mt-[10px] ml-[15px]"></div>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>

    <li>
      <a class="flex gap-2 w-full items-center" href="/1/">
        <span class="min-w-[50px] min-h-[50px] grid place-items-center">
          <div class="m-auto h-[28px] w-[28px] bg-gray-200 rounded-full dark:bg-gray-400 mb-2.5"></div>
        </span>
        <div class="h-2 w-[200px] bg-gray-200 rounded-full dark:bg-gray-400"></div>
      </a>
    </li>
    

  </ul>

</div>