{% load custom_filters %} 

{% if paginator_teams.num_pages > 1 %}
  <div tab="teams" class="pagination pagination_teams mt-4 sm:px-6 lg:px-8 {% if request.GET.tab == 'teams' %}{% else %} hidden {% endif %}">
    <span class="text-sm  text-white  flex gap-1 pb-5 items-center step-links">
      {% if related_items.has_previous %}
        <a href="{{ url|set_pagination_params }}page=1" class="pagination_a
        ">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </a>
        <a href="{{ url|set_pagination_params }}page={{ related_items.previous_page_number }}" class="pagination_a"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
      {% endif %}

      <input class="pagination_input" max="{{ paginator_teams.num_pages }}" id="paginationInputLeague" min="1" type="number"  value="{{ related_items.number }}"/>
      /
      <span class="font-bold">{{ paginator_teams.num_pages }}</span>

      {% if related_items.has_next %}
        <a href="{{ url|set_pagination_params }}page={{ related_items.next_page_number }}" class="pagination_a"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        <a href="{{ url|set_pagination_params }}page={{ paginator_teams.num_pages }}" class="pagination_a">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </span>
  </div>
{% endif %}