{% extends "atomic/pages/list.html" %} 

<!-- Page title for leagues list page -->
{% block list_page_title %}
  Ligas | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<!-- Main content section -->
<div class="sm:px-6 lg:px-8 text-2xl dark:text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/league.html' %}
  <h2 class="background-color rounded-md">
    LIGAS
  </h2>
</div>

<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 

      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
              <!-- Table headers -->
              <th scope="col" class="table_th"></th>
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-0 z-10 pl-3">
                <!-- Column header for league name -->
                <a href="{% url 'league_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Liga 
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for expenses -->
                <a href="{% url 'league_list' %}?field=outcomes{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Despesas 
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for income -->
                <a href="{% url 'league_list' %}?field=incomes{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Renda 
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for balance -->
                <a href="{% url 'league_list' %}?field=balance{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Saldo 
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for number of teams -->
                <a href="{% url 'league_list' %}?field=num_teams{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Equipes 
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through league objects -->
            {% for league in page_obj %}
            <!-- Alternating row colors -->
            <tr class="table_tr">
              <!-- League data -->
              <td class="table_td">
                <img width="40" src="{{ league.small_img }}" class="min-w-[40px]" />
              </td>
              <td class="table_td dark:bg-zinc-900 sticky left-0 z-10 pl-3">
                <!-- League name -->
                <a href="{% url 'league_detail' pk=league.pk %}" class="flex items-center justify-start gap-1">
                  <img src="{{ league.country_img }}" />
                  <span class="hover:underline max-w-[125px] whitespace-normal"> {{ league.name }} </span>
                </a>
              </td>
              <td class="table_td">
                <!-- Expenses -->
                <span> {{ league.outcomes|passToFloat }} </span>
              </td>
              <td class="table_td">
                <!-- Income -->
                <span class="text-green-700 font-bold">{{ league.incomes|passToFloat }}</span>
              </td>
              <td class="table_td">
                <!-- Balance -->
                {% if "-" in league.balance %}
                    <span class="text-red-700 font-bold"> {{ league.balance | passToFloat }} </span>
                {% else %}
                    <span class="text-green-700 font-bold"> {{ league.balance | passToFloat }} </span>
                {% endif %}
              </td>
              <td class="table_td">
                <!-- Number of teams -->
                {{ league.num_teams  }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
