{% extends "atomic/pages/list.html" %}

<!-- Page title for countries list page -->
{% block list_page_title %}
  Estádios | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<div class="sm:px-6 lg:px-8 text-2xl dark:text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/stadium.html' %}
  <h2 class="background-color rounded-md">
    Estádios
  </h2>
</div>


<!-- Table container -->
<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 
      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
              <!-- Table headers -->
              <th scope="col" class="table_th"></th>
              <th scope="col" class="table_th sticky dark:bg-zinc-900 left-0 z-10 pl-3">
                <!-- Column header for stadium -->
                <a href="{% url 'stadium_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Estádio <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for stadium -->
                <a href="{% url 'stadium_list' %}?field=grass_type{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Gramado <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for stadium -->
                <a href="{% url 'stadium_list' %}?field=crowd_capacity{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Capacidade <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <!-- Column header for stadium -->
                <a href="{% url 'stadium_list' %}?field=staterooms{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Camarotes <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th whitespace-nowrap ">
                <!-- Column header for stadium -->
                <a href="{% url 'stadium_list' %}?field=build_value{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
                  Valor de construção <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-900 dark:text-[#A1A1AA]">
            <!-- Loop through countries -->
            {% for stadium in page_obj %}
            <!-- Apply row class -->
            <tr class="table_tr">
              <td class="table_td flex flex-col justify-left align-center">
                <!-- Country name -->
                <img src = "{{ stadium.imgs | get_stadium_img }}" width="190" height="127" class="min-w-[40px]" />
              </td>
              <td class="table_td sticky dark:bg-zinc-900 left-0 z-10 pl-3">
                <!-- Country name -->
                <a href="{% url "stadium_detail" pk=stadium.pk %}">
                  <span class="hover:underline">{{ stadium.name }}</span>
                </a>
              </td>  
              <td class="table_td">
                <span>
                    {{ stadium.grass_type }}
                </span>
              </td>  
              <td class="table_td">
                <span>
                  {% if stadium.crowd_capacity %}
                    {{ stadium.crowd_capacity }}
                  {% else %}
                    -
                  {% endif %}
                </span>
              </td>  
              <td class="table_td">
                <span>
                  {% if stadium.staterooms %}
                    {{ stadium.staterooms }}
                  {% else %}
                    -
                  {% endif %}
                </span>
              </td>  
              <td class="table_td sticky dark:bg-zinc-900 left-[60px] z-10 ">
                <span>
                  {{ stadium.build_value | passToFloat }}
                </span>
              </td>  
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
