{% extends "atomic/pages/list.html" %}

<!-- Page title for countries list page -->
{% block list_page_title %}
  Taças | Teams List
{% endblock list_page_title %}

{% block list_content %}
{% load custom_filters %}

<div class="block sm:px-6 lg:px-8 text-2xl text-white flex items-center gap-1 justify-center my-[14px]">
  {% include 'icons/trophy.html' %}
  <h2 class="background-color rounded-md">
    Taças
  </h2>
</div>

<div class="sm:mx-0.5">
  <div class="max-w-[97vw] py-2 inline-block min-w-full sm:px-6 lg:px-8">
    <div class="table_wrapper rounded-md"> 
      <div class="overflow-auto"> 
        <table class="min-w-[800px] md:min-w-full">
          <thead class="table_thead">
            <tr class="table_tr">
                <!-- Table headers -->
              <th scope="col" class="table_th">
                
              </th>
              <th scope="col" class="table_th">
                <a
                  href="{% url 'trophy_list' %}?field=id_trophy__name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
                >
                  Taça
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
              <th scope="col" class="table_th">
                <a
                  href="{% url 'trophy_list' %}?field=name{% if request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}"
                >
                  Edições
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-900 text-[#A1A1AA]">
            {% for trophy in page_obj %} 
            <tr class="table_tr">
                <td class="table_td">
                    <img height="52" src="{{ trophy.id_trophy__img }}" class="object-cover rounded-full w-[52px] h-[52px] block" />
                </td>
                <td class="table_td">
                    <a href="{% url "trophy_detail" pk=trophy.id_trophy %}" class="gap-1 hover:underline">
                        {{ trophy.id_trophy__name }}
                    </a>
                </td>
                <td class="table_td">
                    {{ trophy.editions_count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Include pagination -->
{% include 'atomic/organisms/list_pagination.html' %}
{% endblock list_content %}
